/* GENERAL SETTINGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

/* UTILITIES */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
