/* GENERAL SETTINGS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

/* UTILITIES */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h2-text {
  font-size: 28px;
  text-align: center;
}

.right-border {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.bottom-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* HEADER */

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 84px;
  width: 100%;
  background-color: #f5f8fa;
  border-bottom: 1px solid #33475b;
  z-index: 5;
}

.header-top {
  height: 91px;
  margin-top: 91px;

}

.header-jumbo {
  position: relative;
  height: 749px;
  background-color: #fff3ee;
  background-image: url('../img/jumbotron.png');
  background-position: 100% 77%;
  background-size: 82%;
  background-repeat: no-repeat;
}

.border-jumbo {
  position: absolute;
  bottom: 0;
  background-color: #afebe4;
  height: 12%;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  z-index: 1;
}

/* MAIN */

main {
  background-color: #f5f8fa;
}

/* MAIN TOP */
.main-top {
  height: 525px;
  padding: 50px;
}

.main-top img {
  width: 15%;
  height: auto;
}

/* MAIN-MID */
.main-mid-row1 {
  width: 1080px;
  height: 300px;
  background-color: #FFF;
  margin: 50px auto 50px;
  box-shadow: 1px 1px 1px 1px rgba(51, 71, 91, 0.15);
  border-radius: 5px;
}

.main-mid-row2 {
  width: 1080px;
  height: 630px;
  margin: 50px auto 50px;
}

.col {
  width: 30%;
  height: 557px;
  background-color: #FFF;
  margin-right: 54px;
  box-shadow: 1px 1px 1px 1px rgba(51, 71, 91, 0.15);
  border-radius: 5px;
}

.col:last-child {
  margin-right: 0;
}

/* MAIN-MID2 */
.main-mid2 {
  height: 908px;
  width: 100%;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding: 80px;
  color: #FFF;
}

.main-mid2 p {
  text-align: center;
  margin: auto;
  width: 70%;
  padding-top: 50px;
  font-size: 120%;
}

.main-mid2-row2 {
  width: 65%;
  height: auto;
  margin: 50px auto;
}

.main-mid2-row2-row1 {

}

.main-mid2-row2-row2 {

}

.main-mid2-row2-row-div {
  text-align: center;
  width: 270px;
  height: 194px;
}
